<%= form_tag user_registration, method: :post do %>
  <!-- Add your login form fields here -->
  <label for="username">Username:</label>
  <%= text_field_tag :username %>

  <label for="password">Password:</label>
  <%= password_field_tag :password %>

  <%= submit_tag 'Log in' %>
<% end %>